.header{
    min-height: 120px;
    background: linear-gradient(0, #fe6433, #f53e2d);
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}
.app{
    padding-top: 120px;
    background-color: #ffffff;
}
.header__navbar{
    display: flex;
    justify-content: space-between;

}
.header__navbar-list{
    list-style-type: none;
    padding-left: 0px;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 500;
}
.header__navbar-item-border{
    border-right: 1px solid #f76b5c;
    padding-right: 16px;
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.8rem;
}
.header__navbar-icon-nohover{
    cursor: text;
    color: var(--white-color);
}
.header__qr{
    padding-top: 13px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #ffffff;
}
.header__qr-apps{
    display: inline-flex;
    justify-content: space-between;
    z-index: 1;
}
.header__qr-apps-link{
    margin: 10px;
}
.header__qr-apps-img{
    height: 100%;
}
.header__navbar-item--download:hover .header__qr{
    display: block;
    animation: qrFadeInUp 0.4s ease;
}
.header__navbar-item-link {
    position: relative;
}
.header__notify::after
{
    content: '';
    position: absolute;
    top: -29px;
    right: 12px;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__notify::before
{
    content: '';
    position: absolute;
    top: -16px;
    right: 0px;
    width: 90px;
    height: 20px;
    display: block;

}
.header__notify{
    margin-top: 10px;
    width: 404px;
    position: absolute;
    right: 0;
    background-color:var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    z-index: 1;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyFadeInUp ease-in 0.2s;
    will-change: opacity, transform;
}
@keyframes headerNotifyFadeInUp {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    background-color: var(--white-color);
    height: 40px;

}
.header__notify-header h3{
    opacity: 0.7;
    font-weight: 300;
    color: #999;
    font-size: 1.5rem;
    margin: 0px 0px 0px 12px;
    line-height: 40px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
.header__notify-list{
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
    width: 100%;
}
.header__notify-link-view{
    background-color: rgba(238, 75, 43, 0.08);
    cursor: pointer;
}
.header__notify-item:hover
{
    background-color: #f7f7f7;
}
.header__notify-link{
    display: flex;
    text-decoration: none;
    padding: 12px;

}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
    color: #333;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    margin: 5px 0px;
}
.header__notify-describe{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
}

.header__navbar-item:hover .header__notify{
    display: block;
}
.header__notify-footer{
    text-align: center;
    background-color: var(--white-color);
    padding: 12px 0px;

}
.header__notify-footer-btn
{
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    width: 100%;

}
.auth__form--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;

}
.auth__form--header p{
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    color: black;
}
.auth__form--header span{
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
}

.auth__form{
    padding: 30px;
    animation: qrFadeInUp 1s ease;
}
.auth__form-form{
    margin-top: 20px;
}
.auth__form-group{
    margin-bottom: 16px;
    font-size: 1.7rem;
    width: 100%;
}
.auth__form-input{
    width: 100%;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 1.4rem;
}
.auth__form--aside{
    margin: 20px;
    font-size: 1.3rem;
}
.auth__form--aside a{
    color: #ee4d2d;
    text-decoration: none;

}
.auth__form--controls{
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}
.auth__form--controls-btn{
    font-size: 1.6rem;
    font-weight: 100;
}
.auth__form--controls-back
{
    background-color: var(--white-color);
    border: 1px solid #ccc;
    color: #333;
    padding: 6px 28px;
    border-radius: 3px;
    cursor: pointer;
}
.auth__form--controls-submit
{
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    padding: 6px 28px;
    border-radius: 3px;
    cursor: pointer;
}
.auth__form--socials{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}
.auth__form--link-clone{
    display: block;
    text-align: center;

}
.auth__form--socials-icon{
    width: 204px;
    font-size: 1.6rem;
    display: flex;
    left: 0;
    margin-left: 10px;
    padding: 4px;
}
.auth__form--socials-text{
    margin-left: 16px;
    font-weight: 200;
    font-size: 1.4rem;
}
.auth__form--socials-link-facebook{
    text-decoration: none;
    list-style-type: none;
    width: 49%;
    background-color: #3b5998;
    color: var(--white-color);
    padding: 6px 0px;
    border-radius: 3px;
    cursor: pointer;
}
.auth__form--socials-link-google{
    text-decoration: none;
    list-style-type: none;
    width: 49%;
    background-color: rgb(233, 87, 87);
    color: var(--white-color);
    padding: 6px 0px;
    border-radius: 3px;
    cursor: pointer;
}
.header-search{
    width: 840px;
    position: relative;
    box-sizing: border-box;
    margin-left: 50px;
    margin-top: 14px;
}
.container{
}
.search-container {
    position: relative;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    height: 40px;
    font-size: 1.6rem;
    border-radius: 2px;
}

.suggestions {
    position: absolute;
    top:calc(100%+20px);
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    display: none; 
    font-size: 1.6rem;
    margin-top: 2px;
    z-index: 2;
}

.suggestions div {
    padding: 8px;
    cursor: pointer;
}

.suggestions div:hover {
    background: #f0f0f0;
}
.header-container-to-search-icon{
    width: 100%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.header-image-shopee{
    cursor: pointer;
}
.header-logo{
}
.search-container-icon-search{
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px;
    border: 1px solid red;
    padding: 6.4px 20px;
    background-color: #fa5332;
}
.container-search-icon{
    font-size: 1.6rem;
}
.search-container-icon-search:hover{
    opacity: 0.8;
    cursor: pointer;
}
.header-cart-icon-shopee{
    margin-left: 30px;
    padding: 10px;
    font-size: 2.8rem;
    cursor: pointer;
}
.decoration-none{
    color: #333;
}
.header-list-item-nav{
    list-style-type: none;
    text-decoration: none;
    display: flex;
}
.header-item-nav{
    color: var(--white-color);
    margin: 10px 10px 10px 0px;
    font-size: 1.2rem;
}
.container{
    background-color: #ffffff;

}
.banner-container{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: cover;
}
.main-banner{
    display: flex;
    gap: 2px;
}
.slide-active{
    position: relative;
    cursor: pointer;
   
}
.slide-banners{
    height: 100%;
    cursor: pointer;
}
.slide-banner-item{
    height: 50%;
    
}
.slide-active:hover .button-prev-next{
   display: flex;
}
.button-prev-next .prev{

}
.button-prev-next{
    position: absolute;
    width: 100%;
    top: 43%;
    display: flex;
    justify-content: space-between;
    display: none;
}
.slide-active:hover .button-prev-next{
    
}
.button-prev-next .prev,
.button-prev-next .next{
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;

}
.button-prev-next button:hover{
    background-color: rgba(97, 93, 93, 0.6);
}
.font-style-button-prev-next{
    font-size: 1.8rem;

}
.slide-active-image{
}
.iteam-image{
    list-style-type: none;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.iteam-image:hover{
    /* animation: keyup 0.1s ease-in forwards; */
    transform: translateY(-4px);

}
.iteam-image img{
    max-width: 45px;
    max-height: 45px;
}
.banner-item-image{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2rem;
    padding-left: 0px;
}
.banner-item-footer{
    max-width: 100%;
    height: 110px;
}
.slide-banner-item{
    
}
.category{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    
}
.category-done{
    font-size: 1.7rem;
    line-height: 60px;
    text-transform: uppercase;
}
.category-done p{
    opacity: 0.7;
}
.box-content-category{
}
.container-category-box{
    position: relative;
}
.container-section-next{
    position: absolute;
    top: 45%;
    right: -1%;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: red;
    cursor: pointer;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform-origin: center; /* Đảm bảo phóng to từ tâm */
}
.flash-sale-list{
    margin-bottom: 20px;
}
.shopee-container-content:hover .container-section-next,
.section-content-list-header:hover .container-section-next,
.flash-sale-list:hover .container-section-next,
.container-category-box:hover .container-section-next{
    transform: scale(1.7); /* Phóng to nhẹ từ tâm */
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .2);
}
.container-section-next i{

}
.content-category-list{
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.container-Category{
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 20px;
}

.category-list-item{
    width: 130px;
    height: 140px;

    border: 1px solid #f2f2f2;
}
.category-list-item:hover{
    cursor: pointer;
    border: 1px solid #e7e2e2;
}
.category-list-item p{
    font-size: 1.4rem;
}
.category-list-item img{
    width: 83.3px;
    height: 83.3px;
}
.container-section-content{
    background-color: #ffffff;
}
.flash-sale-logo img{
    width: 130px;
    height: 30px;
}
.container-flash-Sale{
    margin-top: 20px;
    background-color: white;
}
.content-flash-sale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.flash-sale-next{
    display: flex;
    align-items: center;
}
.sale-next-all{
    color: red;
    font-size: 1.4rem;
}
.flash-sale-list{
    position: relative;
    
}
.flash-sale-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.flash-sale-image-item{
    position: relative;
    padding: 0px 15px;
    cursor: pointer;
}
.flash-sale-image-item:hover{
    

}
.sale-item{
    font-size: 1.4rem;
    color: red;

}
.sale-item img:first-child{
    z-index: 2;
}
.sale-item img{
    width: 170px;
    height: 170px;
}
.sale-icon-mail{
    position: absolute;
    width: 100%;
    top: 6%;
    left: -80px;
}
.sale-icon-mail img{
    height: 16px;
}
.sale-icon-sale{
    display: none;
}
.sale-item-quantity p{
    
}
.sale-item-quantity-box{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}
.sale-item-quantity{
    width: 90%;
    height: 16px;
    background-color: #ffbea6;
    border-radius: 40px;
    color: #ffffff;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 16px;
}
.color-item-quantity{
    margin-left: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 6%;
    height: 16px;
    background: linear-gradient(to right, #e73219 0%, #ff5e3a 50%, #ffa07a 100%);
    border-radius: 40px 0px 0px 40px;
    z-index: 0;
}
.sale-item-item-image{
    position: relative;
}
.sale-item-item-image-background{
    position: absolute;
    top: 0;
    
}
.home-mail-container{
    width: 100%;
    position: relative;
    background-color: #ffffff;
    

}
.shopee-header-section{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 61px;
    font-size: 1.6rem;
    color: #333;
    border-bottom: 1px solid #f2f2f2;

}
.shopee-header-section-title-search{
    padding: 0px 16px;
    color: black;
}
.shopee-header-section-title{
    padding: 0px 16px;
    border-right: 1px solid #d9d9d9;
    color: black;
}
.shopee-header-section-title-search a,  
.shopee-header-section-title a{
    color: red;
    text-transform: uppercase;

}
.shopee-title-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.shopee-title-text img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.shopee-header-see-all{
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    cursor: pointer;
}
.box-see-all{
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
    color: var(--white-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-content-list-header{
    position: relative;
}
.shopee-section-content{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.section-content-image img{
    width: 390px;
    height: 464px;
}
.content-list-bottom,
.content-list-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-item-bottom,
.content-item-top{
    position: relative;
    padding: 10px;
}
.content-item-text{
    position: absolute;
    width: 90%;
    text-align: center;
    font-size: 1.85rem;
    color: red;
    top: 74%;
}
.content-list-bottom img,
.content-list-top img{
    width: 180px;
    height: 216px;
}
.shopee-list-content{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.shopee-item-image{
    position: relative;

}
.shopee-container-content{
    position: relative;
}
.shopee-item-content{
}
.shopee-item-image img{
    width: 180px;
    height: 180px;
}
.shopee-item-image-top img{
    width: 32px;
    height: 40px;
}
.shopee-item-image-top{
    position: absolute;
    top: 0;
    left: 0;
}
.shopee-item-text-image{
    position: absolute;
    height: 25px;
    background-color: #bdbdbd;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}
.shopee-item-text-name{
    font-size: 1.8rem;

}
.container-suggest{
    margin-top: 20px;
}
.suggest-content{
    padding: 0px 6px;
}
.suggest-content-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
.suggest-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    font-size: 1.8rem;
    position: sticky;
    top: 125.69px;
    border-bottom: 3px solid #ed4d2d;
    z-index: 8;
}
.suggest-header-contact{
    text-transform: uppercase;
    color: #ed4d2d;
}
.suggest-content-item{
    position: relative;
    border: 1px solid #dedede;
}
.suggest-content-item:hover .suggest-item-search{
    display: flex;
}

.suggest-content-item:hover{
    border: 1px solid red;
}
.suggest-item-image img{
    width: 188px;
    height: 188px;

}
.suggest-item-background img{
    position: absolute;
    top: 0;
}
.suggest-item-image-video{
    position: absolute;
    top: 165px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
.suggest-item-image-video i{
    color: #ffffff;
    margin-left: 3px;
    font-size: 1.4rem;
}
.suggest-item-discount{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 18px;
    background-color: #ffefeb;
    border-radius: 0px 0px 0px 5px;
}
.suggest-item-discount .suggest-item-text-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-size: 1.2rem;
    color: #ed4d2d;
}
.suggest-bottom{
    background-color: #ffffff;
}
.suggest-item-mail{
    display: flex;
    max-width: 188px;
    padding: 6px 6px;
}
.suggest-item-mail img{
    max-width: 55px;
    height: 14px;
}
.suggest-item-text-name{
    display: block;
    font-size: 1.4rem;
    margin-left: 4px;
    text-transform: capitalize;
    margin: 0;
    padding-left: 6px;
    color: #333;
}
.suggest-item-sale{
    width: 54px;
    height: 16px;
    background-color: #f58f14;
    margin: 6px;
    border-left: 1px dotted #ffffff;
    border-right: 1px dotted #ffffff;

}
.suggest-item-sale-text{
    font-size: 1rem;
    color: var(--white-color);
    margin: 0;
}
.suggest-item-sale{
    display: flex;
    justify-content: center;
    align-items: center;
}
.suggest-item-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    font-size: 1.2rem;
}
.suggest-item-prince{
    font-size: 1.6rem;
    color: red;
}
.suggest-item-sold{
    color: #333;
}
.suggest-item-search{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #ed4d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}
.suggest-item-search .suggest-item-search-text{
    font-size: 1.4rem;
    margin: 0;
    color: var(--white-color);
}
.suggest-footer{
    margin-top: 10px;
    padding-bottom: 50px;

}
.suggest-see-all{
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.suggest-see-all-text{
    width: 390px;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #555555;
    border: 1px solid #dedede;
}
.footer{
    border-top: 5px solid red;
}
.footer-box{
    margin-top: 60px;
}
.footer-top{
    font-size: 1.2rem;
    padding-bottom: 60px;
    border-bottom: 1px solid black;
}
.footer-top-h3-opacity,
.footer-top-opacity,
.footer-top-p-opacity{
    opacity: 0.8;
}
.footer-top li{
    margin-left: 40px;
    margin-top: 16px;
}
.footer-top-category-box{
    margin-top: 60px;
}
.footer-top-list-category{
    width: 100%;
    display: flex;
    opacity: 0.8;
    justify-content: space-around;
    padding-bottom: 80px;
}
.content-item-flex-box-one,
.content-item-flex-box-two,
.content-item-flex-box-three,
.content-item-flex-box-four,
.content-item-flex-box-five,
.flex-box-one,
.flex-box-two,
.flex-box-three,
.flex-box-four,
.flex-box-five{
    width: 20%;
    font-size: 1.2rem;
    padding-right: 10px;
}
.flex-box-five{
    padding-right: 0px;
}
.footer-mid-category-box{
    padding-top: 40px;
    height: 500px;
    background-color: #fafafa;
}
.footer-mid-content{
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}
.footer-mid-content-list{
    display: flex;

}
.content-item-flex-box-two li,
.content-item-flex-box-one li{
    font-size: 1.2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2.8rem;
    opacity: 0.9;
}
.content-three-list{
    display: flex;
    flex-wrap: wrap;
}
.content-three-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    background-color: #ffffff;
    margin: 4px;
     box-shadow: 
    -1px 1px 2px rgba(0, 0, 0, 0.1), /* bóng trái */
     1px 1px 2px rgba(0, 0, 0, 0.1), /* bóng phải */
     0px 2px 3px rgba(0, 0, 0, 0.15); /* bóng dưới */
     border-radius: 2px;
}
.content-item-flex-box-four{
    list-style-type: none;
    line-height: 2.6rem;
}
.content-item-flex-box-four li i{
    margin-right: 6px;
    font-size: 1.4rem;
}
.content-item-flex-box-four li{
    color: #000000A6;
}
.content-box-item-five{
    display: flex;
}
.content-box-image-five{
    padding: 2px;
    box-shadow: 
    -1px 1px 2px rgba(0, 0, 0, 0.1), /* bóng trái */
     1px 1px 2px rgba(0, 0, 0, 0.1), /* bóng phải */
     0px 2px 3px rgba(0, 0, 0, 0.15); /* bóng dưới */
}
.content-box-item-image-box-image{
    width: 76px;
    height: 24px;
    margin-left: 15px;
    margin-top: 6px;
}
.content-box-item-image img{
    width: 68px;
    height: 16px;
    display: block;
     box-shadow: 
    -1px 1px 2px rgba(0, 0, 0, 0.1), /* bóng trái */
     1px 1px 2px rgba(0, 0, 0, 0.1), /* bóng phải */
     0px 2px 3px rgba(0, 0, 0, 0.15); /* bóng dưới */
}

.footer-bottom-content{
    margin-top: 45px;
}
.content-bottom-box-item{
    font-size: 1.4rem;
    padding-bottom: 40px;
}
.content-bottom-box-item p{
    margin: 0;
    color: #0000008A;
}
.footer-bottom{
    background-color: #f5f5f5;

}
.footer-bottom-box{
    padding-top: 40px;
}
.footer-bottom-list-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 50px;
}
.footer-bottom-list-box p{
    font-size: 1.3rem;
    text-transform: uppercase;
    opacity: 0.9;
}
.footer-bottom-list-box span{
    margin-left: 26px;
}
.footer-logo{
    display: flex;
    align-items: center;
    margin-left: 33%;
}
.footer-logo-list{
    margin-right: 45px;
}
.footer-logo-register img{
    width: 120px;
    height: 40px;
}
.footer-logo-fingerprint img{
    width: 48px;
    height: 48px;
}
.footer-bottom-text-box-list{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;

}
.footer-bottom-text-box-list p{
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: #000000A6;
    line-height: 1.4rem;
}
.footer-bottom-text-box-list .text-box-p-one{
    margin-bottom: 30px;
}
@keyframes qrFadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @keyframes keyup{
    from{
        transform: translateY(0px);
    }
    to {
        transform: translateY(-1px);
    }
} */
